
* {
    margin: 0;
}

body {
    color: var(--secondary);
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: var(--teritary);

}

:root {
    --primary: #97eec0;
    --secondary: #6cb18d;
    --teritary: #E2EFDE;
}

/* apply to header style */
header {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-position: center 80%;
    background-attachment: fixed;
    position: sticky;
    background-size: cover;
    z-index: 9999;  
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--teritary);
    
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--teritary); 
    text-shadow: 0 0 3px var(--primary);
    background-color: var(--secondary);
    margin-left: -20px;
    padding-right: 30px;
    padding-left: 3%;
    border-style: none;
    
    
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin: 8px 0;
}

header nav ul li a {
    padding: 20px 20px;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 0 0 5px white;
    text-decoration: underline;
}

/* header style end */

/* title style start */
.title-background {
    background-image: url(../images/BG\ image.jpg);
    background-size: cover;
    height: 500px;
    width: auto;
    border: 2px solid;
    overflow: hidden;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;
    position: sticky;
}

.title-background > h2 {
   margin: 220px;
   background-color: var(--teritary);
   position: absolute;
   top: 170px;
   right: -200px;
   width: 350px;
   height: 55px;
   text-align: center;
   color: var(--secondary);
   padding-top: 20px;
}

/* apply to all h2 */
.section-title {
    border-right: 3px solid var(--secondary);
    padding: 10px;
    display: inline;
    font-weight: bold; 
    font-size: 30px;


}

.section-title > h2 {
    width: 200px;
}

/* about me starts here */

.about-me {
    margin: 2em;
    display: flex;
}

.me-par {
   display: flex;
   text-align: left;
   justify-content: left;
   flex-wrap: wrap;
   font-size: 35px; 
   padding-left: 20px;
     
}

.about-me > .me-par p {
    margin-bottom: 1em;
}

/* work starts here */
.work {
    display: flex;
    margin: 2em;  
}

.work-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    margin: 20px;
  }

.grid-item {
    padding: 15px 0;
    border: 2px solid var(--secondary);
    align-items: center;
    justify-content: center;
    text-align: left;
    color: var(--secondary);
    background-color: var(--primary);
}

.label-box1 {
    background-color: var(--teritary);
    top: 290px;
    left: -168px;
    width: 200px;
    height: 80px;
    position: relative;
}

.label-box2, .label-box3 {
    background-color: var(--teritary);
    top: 70px;
    left: -140px;
    width: 200px;
    height: 70px;
    position: relative;
}

.label-box4, .label-box5 {
    background-color: var(--teritary);
    top: 130px;
    left: -40px;
    width: 200px;
    height: 70px;
    position: relative;
}

.big-text > p {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 5px;    
}

.big-text a {
    color: var(--secondary);
    text-decoration: none;
}

.small-text {
    font-size: 15px;
    padding-left: 5px;

}
.run-buddy {
    grid-column: 1/3; 
    grid-row: 1/3;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/runbuddy.PNG);
    padding: 128px ;
    width: 45%;
    
    
}

.horiseon {
    grid-row-start: 1;
    grid-column-start: 3;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/horiseon.PNG);
    padding: 100px ;
    margin-left: -320px;
    margin-right: 450px;
}

.future-project1 {
    grid-row-start: 2; 
    grid-column-start: 3;
    background-image: url(../images/future.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    margin-left: -320px;
    margin-right: 450px;

}

.future-project2 {  
    grid-row-start: 3;
    grid-column: 1/2;
    background-image: url(../images/future.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 175px;
    
}

.future-project3 {
    grid-row-start: 3;
    grid-column-start: 2;
    background-image: url(../images/future.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -170px;
    margin-right: 330px;
}

/* contact me starts here */

.contact-me {
    display: flex;
    margin: 2em;
  
}

.contact-par {
    text-decoration-line: underline;
    align-items: center;
    display: flex;
}

.contact-par a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: bolder;  
    font-style: italic;
    font-size: 30px;
}

